# string methods

In [7]:
name="qazi ubaid"

print(name.upper())
print(name.lower())
print(name.capitalize()) #first letter just
print(name.title()) # dono word ka first capital
print(len(name))
print(name.strip())
print(name.lstrip())
print(name.rstrip())

QAZI UBAID
qazi ubaid
Qazi ubaid
Qazi Ubaid
10
qazi ubaid
qazi ubaid
qazi ubaid

In [23]:
value="qazi umair"
print(value.replace("umair","ubaidullah"))
print(value.replace("a","o"))
print(value.replace("a","o",1))

print("find method",value.find("c")) #agr find nh milta tw -1 dega
print("index method",value.index("c")) # ye error dega

qazi ubaidullah
qozi umoir
qozi umair
find method -1

ValueError: substring not found

In [32]:
value="qazi ubaid"

print(value.startswith('qazi')) #check krega start yha se hora he ya nh true false
print(value.endswith('ubaid')) #check krega end yha se hora he ya nh true false

if value.startswith("qazi"):
    print("start with qazi")
else:
    print("not start qazi")

True
True
start with qazi

In [44]:
value="jan,feb,mar,apr,may,jun"
print(value.split(","))

['jan', 'feb', 'mar', 'apr', 'may', 'jun']

# list Method

In [46]:
list=["jan","feb","mar","apr","may","jun"]
list.append("july")
print(list)

['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'july']

In [47]:
list=["jan","feb","mar","apr","may","jun"]
list.insert(0,"JAN") #specific location pr insert krana
print(list)

['JAN', 'jan', 'feb', 'mar', 'apr', 'may', 'jun']

In [48]:
list=["jan","feb","mar","apr","may","jun"]
returnvalue=list.pop()
print(returnvalue)

jun

In [51]:
list1=["jan","feb","mar","apr","may","jun"]
list2=["july","aug","sep","oct","nov","dec"]
list1.extend(list2) #add krdega ye extend
print(list1)

list1=["jan","feb","mar","apr","may","jun"]
list2=["july","aug","sep","oct","nov","dec"]
list3=list1+list2 #isme original me update nh kraya hmne
print(list3)

['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'july', 'aug', 'sep', 'oct', 'nov', 'dec']
['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'july', 'aug', 'sep', 'oct', 'nov', 'dec']

In [57]:
list=[2,5,7,1,8,9,5,3]
list.sort() #asc
print(list)

list=[2,5,7,1,8,9,5,3]
list.sort(reverse=True) #desc
print(list)

list=[2,5,7,1,8,9,5,3]
list.reverse() #reverse
print(list)

[1, 2, 3, 5, 5, 7, 8, 9]
[9, 8, 7, 5, 5, 3, 2, 1]
[3, 5, 9, 8, 1, 7, 5, 2]

In [59]:
list=[2,5,7,1,8,9,5,3]
list.remove(1) #jo value de wo remove krdi
print(list)

[2, 5, 7, 8, 9, 5, 3]

In [68]:
list=[2,5,7,1,8,9,5,3]
list2=list.copy()
print(list2)

list=[2,5,7,1,8,9,5]
list4=list[0:7]
print(list4)

list=[2,5,7,1,8,9,5]
list4=list[0:7:2] 
print(list4)

[2, 5, 7, 1, 8, 9, 5, 3]
[2, 5, 7, 1, 8, 9, 5]
[2, 5, 7, 1, 8, 9, 5]

# Dictionary Method

In [70]:
student={"name":"Ubaid","age":20}
student.update({"roll no":"290"})
print(student)

{'name': 'Ubaid', 'age': 20, 'roll no': '290'}

In [76]:
student={"name":"Ubaid","age":20}
student.pop("age") # key ka name denge delete hojaega
print(student)

{'name': 'Ubaid'}

In [79]:
student={"name":"Ubaid","age":20}
result=student.popitem() #last se remove or tupple form me return
print(student)
print(result)

{'name': 'Ubaid'}
('age', 20)

In [81]:
student={"name":"Ubaid","age":20}
print(student.keys())
print(student.values())
print(student.items()) #dono key value tupple form me list of tupple

dict_keys(['name', 'age'])
dict_values(['Ubaid', 20])
dict_items([('name', 'Ubaid'), ('age', 20)])

In [90]:
student={"name":"Ubaid","age":20}
for key,value in student.items(): #destructure kra huwa direct hmne
 print(f"item key:{key} and value:{value}")

item key:name and value:Ubaid
item key:age and value:20

In [92]:
student={"name":"Ubaid","age":20}
del student["age"] #specific jo denge wo delete hoga
print(student)

{'name': 'Ubaid'}

# Input

In [93]:
print("enter your name")
name=input()
print(f"Hi {name}")

enter your name
Hiqazi

In [99]:
factors = {
        "meter": 1,
        "kilometer": 1000,
        "centimeter": 0.01,
        "millimeter": 0.001
    }

print(factors["centimeter"])

0.01

 # Set{}

In [101]:
thisset={"Apple","banana",True,1}
print(thisset)

thisset={"Apple","banana",False,0}
print(thisset)

{True, 'Apple', 'banana'}
{False, 'Apple', 'banana'}

In [124]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")#add
print(fruits)

{'cherry', 'orange', 'apple', 'banana'}

In [123]:
fruits = {"apple", "banana", "cherry"}
fruits.clear() #remove all
print(fruits)

set()

In [109]:
fruits = {"apple", "banana", "cherry"}
x=fruits.copy()
print(x)

{'cherry', 'apple', 'banana'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y) #x me jo item he wo y me nh he tw return krdega jo nh he
print(z)

numbers1={1,2,3,4,5,6}
numbers2={2,3,7,4,9}
result=numbers1.difference(numbers2)  #shortcut result=numbers1-number2
print(result)

a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

myset = a.difference(b, c)
print(myset)

{'cherry', 'banana'}
{1, 5, 6}
{'banana'}

In [125]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y) #Remove the items that exist in both sets
print(x)

number1={1,2,3,4,5}
number2={1,2,3,4,5,6}
number2.difference_update(number1)
print(number2)

{'cherry', 'banana'}
{6}

In [130]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y) #dono me koi same hotw 1 dafa consider krega 
print(x)

number1={1,2,3,4,5}
number2={5,2,3,4,9,10}
number1.update(number2)
print(number1)


number1={1,2,3,4,5}
number2={5,2,3,4,9,10}

{'google', 'microsoft', 'apple', 'banana', 'cherry'}
{1, 2, 3, 4, 5, 9, 10}

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana") #ye error dega agr find nh hota

print(fruits)

{'cherry', 'apple'}

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana") #ye error nhi dega agr find nh hota

print(fruits)

{'cherry', 'apple', 'banana'}

In [143]:
fruits = {"apple", "banana"}

fruits.pop()

print(fruits)

{'banana'}

In [2]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y) #duplicate excluded

print(z)

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [4]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) #dono me jo same wo return hoga

print(z)

{'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) #jo dono me same hoga osko nh return krega excluded

print(z)

{'banana', 'cherry', 'google', 'microsoft'}

# Tupple Method()

In [8]:
thistuple=(1, 3, 7, 8, 7, 5, 4, 6, 8,5)
x = thistuple.count(5) #kitni dafa he ye number count
print(x)

2

In [10]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8) #jo first milega oska index dedega
print(x)

3

In [13]:
my_tuple = ('apple', 'banana', 'cherry', 'banana')
index_of_cherry = my_tuple.index('cherry')
print(index_of_cherry)

index_of_second_banana = my_tuple.index('banana', 2)
print(index_of_second_banana) # Output: 3

2
3

In [15]:
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[0])   # Output: 10
print(my_tuple[1:4]) # Output: (20, 30, 40)

10
(20, 30, 40)

In [18]:
my_tuple = ('a', 'b', 'c')
print('b' in my_tuple)    # Output: True
print('d' not in my_tuple) # Output: True

True
True